#swimmers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /* width: 80%; */
}

#swimmers td, #swimmers th {
  border: 1px solid #ddd;
  padding: 5px;
  /* max-width: 20%; */
  text-align: right;
}

#swimmers td.qualified {
  color:rgb(235, 52, 52);
  background-color: rgb(239, 239, 20);
  font-weight: bold;
}

#swimmers td.standards {
  color:rgba(173, 8, 8, 0.98);
}

#swimmers tr:nth-child(even){background-color: #f2f2f2;}

#swimmers tr:hover {background-color: #ddd;}

#swimmers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

#swimmers a{
  color:aqua;
}

.container {
  display: flex;
  justify-content: center;
}

select.selectpicker { width: 30em }

@media (min-width:320px)  { 
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
  #banner {
    font-size: 50px;
  }
  * {
    font-size: 30px;
  }
  input.btn {
    font-size: 30px;
  }
}

@media (min-width:480px)  { 
  /* smartphones, Android phones, landscape iPhone */ 
  #banner {
    font-size: 50px;
  }
  * {
    font-size: 30px;
  }
  input.btn {
    font-size: 30px;
  }
}

@media (min-width:1025px) { 
  /* big landscape tablets, laptops, and desktops */ 
  #banner {
    font-size: 30px;
  }
  * {
    font-size: 20px;
  }
  input.btn {
    font-size: 20px;
  }
}

/* table-container is to freeze the table header */
.table-container {
  overflow-y: auto;
  height: 1200px; /* Adjust this value based on your requirement */
}

.table-container th {
  position: sticky;
  top: 0;
  background-color: #fff; /* Prevents header from becoming transparent */
  z-index: 100; /* Ensures the header stays on top of other content */
}