<!DOCTYPE html>
<html>
<head>
<title>Swimmer and Time Standards ScoreCard</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='table.css') }}">
</head>

<body>
<h3 id="banner">Swimmers vs Time Standards</h3>
<input type="button" value="Share" onclick="copy_url()"></input>
&nbsp;&nbsp;&nbsp;&nbsp;<a id="url_text" href=""></a><span id="is_copied" href=""></span>
<br/><br/><input type="button" value="Share" onclick="copy_url()"></input>
&nbsp;&nbsp;&nbsp;&nbsp;<a id="url_text" href=""></a><span id="is_copied" href=""></span>
<br/><br/>
<input type="text" id="event_filter" onkeyup="apply_filter()" placeholder="Search for Event Name.." size="30">
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/select" id="goback">Back to Selection</a>
&nbsp;&nbsp;&nbsp;&nbsp;

&nbsp;&nbsp;&nbsp;&nbsp;

<br/><br/>
<table border="1" id="swimmers">
  <thead>
      <tr>
          <th></th>
          {% for i in range(colnames | length): %}
          <th>
            {% if i == 0 %}
                {% if colnames[i].startswith('JO')%}
                    <a href="https://www.pacswim.org/userfiles/cms/documents/809/agc-time-std.-scy-2023-2024-rev-9.18.23.pdf">{{colnames[i]}}</a>
                {% elif colnames[i].startswith('FW') %}
                    <a href="https://www.pacswim.org/userfiles/cms/documents/859/fw-time-std.---spring-2024-rev-8.25.23.pdf"> {{colnames[i]}} </a>
                {% else %}
                    {{ colnames[i] }}
                {% endif %}
            {% else %}
            <a href="https://swimstandards.com/swimmer/{{colnames[i]}}">
                {{ colnames[i] }}
            </a>
            {% endif %}
          </th>
          {% endfor %}
      </tr>
  </thead>
  <tbody>
      {% for i in range(records | length): %}
      <tr>
          <td> {{ rownames[i] }} </td>
          {% for j in range(colnames | length): %}
            {% if j == 0 %}
                <td class="standards"> {{ records[i][colnames[j]] }}  </td>
            {% elif j > 0 and compare_time(records[i][colnames[j]], records[i][colnames[0]]) %}
                <td class="qualified"> {{ records[i][colnames[j]] }} </td>
            {% else %}   
                <td> {{ records[i][colnames[j]] }}  </td>
            {% endif %}            
          {% endfor %}
      </tr>
      {% endfor %}
  </tbody>
</table>

<script>
function apply_filter() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("event_filter");
    filter = input.value.toUpperCase();
    table = document.getElementById("swimmers");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
        } else {
        tr[i].style.display = "none";
        }
    }       
    }
}
function copy_url() {
    var input, filter, table, tr, td, i, txtValue;
    table = document.getElementById("swimmers");
    tr = table.getElementsByTagName("tr");    
    th_list = tr[0].getElementsByTagName("th");
    console.log(th_list.length);
    if (th_list.length <= 1) {
        return;
    } 
    var url = "http://qualihub.net/board?"
    url += "ts="+th_list[1].innerText;
    if (th_list.length > 2) {
        url += "&id=";
    }
    for (i = 2; i < th_list.length; i++) {
      url += (th_list[i].innerText);
      if ( i < th_list.length - 1) {
        url += ",";
      }
      
    }
    // console.log(url);
    document.getElementById("url_text").innerHTML = url;
    document.getElementById("is_copied").innerHTML = " is copied to clipboard";
    document.getElementById("url_text").href = url;
    // Copy the text inside the text field
    navigator.clipboard.writeText(url).then(() => {
        // alert("successfully copied");
      })
      .catch(() => {
        alert("something went wrong");
      });
}
</script>

</body>
</html>