<!DOCTYPE html>
<html>
<head>
<title>Swimmers and Time Standards ScoreBoard</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='table.css') }}">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
body {
    margin: 20px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.tooltip{
   font-family: monospace;
}
.tooltip-inner {
    max-width: 300px !important;
}
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* table cell tooltip */
.cell_with_comment{
  position:relative;
  text-decoration:underline;
  text-decoration-style: dotted;
}

.cell_comment{
  display:none;
  position:absolute; 
  z-index:100;
  border:1px;
  background-color:white;
  border-style:solid;
  border-width:1px;
  border-color:rgba(103, 31, 31, 0.842);
  padding:3px;
  color:rgb(121, 190, 30); 
  top:-60px; 
  left:120px;
  font-family: Arial;
}

.cell_with_comment:hover span.cell_comment{
  color: white;
  background: rgba(82, 119, 239, 0.95);
  display:block;
}
</style>
</head>

<body>
<h3 id="banner">Swimmers vs Time Standards</h3>
<a href="/compare" id="goback" class="btn btn-primary btn-sm">Back to Multiple Swimmers View</a> &nbsp;&nbsp;
<a href="/swim" id="toswim" class="btn btn-success btn-sm">To Single Swimmer View</a> &nbsp;&nbsp;

<button type="button" class="btn btn-secondary btn-sm" onclick="copy_url()">Share</button>
&nbsp;&nbsp;<a id="url_text" href=""></a>
<br/><br/>
<input type="text" id="event_filter" onkeyup="apply_filter()" placeholder="Search for Event Name.." size="30">
<br/><br/>
<!-- <label class="switch">
    <input id="headroom" type="checkbox" onclick="toggle_headroom_column()"/>
    <span class="slider round"></span>
</label>&nbsp;&nbsp;Headroom -->

<label class="form-check-label">By Season</label>&nbsp;&nbsp;&nbsp;&nbsp;
<select id="season" class="form-select" onchange="redirect_with_season();">
    <option value="scy">SCY</option>
    <option value="lcm">LCM</option>
</select>
<br><br>

<div id="table-container" class="table-container">
<table border="1" id="swimmers">
    <thead>
        <tr>
            <th></th>
            {% for i in range(colnames | length): %}
            {% if i == 0 %}
            <th>
                {% if colnames[i].startswith('JO')%}
                    <a href="https://www.pacswim.org/userfiles/cms/documents/809/agc-time-std.-scy-2024-2025-rev-8.27.24.pdf">{{colnames[i]}}</a>
                {% elif colnames[i].startswith('FW') %}
                    <a href="https://www.pacswim.org/userfiles/cms/documents/859/fw-time-std.---spring-2025-rev-8.27.24.pdf"> {{colnames[i]}} </a>
                {% endif %}
            </th>
            {% elif colnames[i].endswith('@nt') %} 
            <th id="{{nationaltime}}" style="text-align:center;"> 
                <a href="https://websitedevsa.blob.core.windows.net/sitefinity/docs/default-source/timesdocuments/time-standards/2025/2028-motivational-standards-age-group.pdf"> {{nationaltime}} 
                </a> </th>
            {% else %}
            <th>
                <a href="https://swimstandards.com/swimmer/{{colnames[i]}}">
                {{ colnames[i] }}</a>
            </th>
            {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for i in range(records | length): %}
        <tr>
            <td> {{ rownames[i] }} </td>
            {% for j in range(colnames | length): %}
            {% if j == 0 %}
                <td class="standards"> {{ records[i][colnames[j]] }}  </td>
            {% elif j > 0 and compare_time(records[i][colnames[j]], records[i][colnames[0]]) %}
                <td class="qualified"> {{ records[i][colnames[j]] }} </td>
            {% elif (nationaltime|length) > 0 %}   
                {% if j > 0 and j % 2 == 0 and (national_time_tool_tip(national_timemap[nationaltime], rownames[i])|length) > 0%}
                <td class="cell_with_comment">
                <span class="cell_with_comment" data-toggle="tooltip" data-placement="bottom" title="{{national_time_tool_tip(national_timemap[nationaltime], rownames[i])}}">
                {{ records[i][colnames[j]] }}  
                </span>
                </td>
                
                {% else %}
                <td> {{ records[i][colnames[j]] }} </td>
                {% endif %}
            {% else %}
                <td> {{ records[i][colnames[j]] }} </td>
            {% endif %}            
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<script>
function apply_filter() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("event_filter");
    filter = input.value.toUpperCase();
    table = document.getElementById("swimmers");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
}

function gen_url() {
    var input, filter, table, tr, td, i, txtValue;
    table = document.getElementById("swimmers");
    tr = table.getElementsByTagName("tr");    
    th_list = tr[0].getElementsByTagName("th");
    
    if (th_list.length <= 1) {
        return;
    } 
    var url = "https://swimhub.org/board?"
    url += "ts="+th_list[1].innerText;
    // check if nationaltime id is present
    for (var i = 0; i < th_list.length; i++) {
        if (th_list[i].id.length > 0) {
            url += "&nt="+th_list[i].id;
            break;
        }
    }
    if (th_list.length > 2) {
        url += "&id=";
    }
    // const buttonChecked = document.querySelector('#headroom').checked;
    const buttonChecked = false;
    var nationaltime = "{{nationaltime}}";
    var step = (nationaltime.length > 0) ? 2 : 1;
    for (i = 2; i < th_list.length; ) {
      url += (th_list[i].innerText);
      if (buttonChecked) {
        if ( i < th_list.length - 1 - step) {
          url += ",";
        }
        i += 1 + step;
      } else {
        if ( i < th_list.length  - step) {
          url += ",";
        }
        i += step;
      }
    }
    url += "&season="+document.getElementById("season").value;
    // console.log(url);
    return url;
}

function copy_url() {
    url = gen_url();
    document.getElementById("url_text").innerHTML = url;
    document.getElementById("url_text").href = url;
    // Copy the text inside the text field
    navigator.clipboard.writeText(url).then(() => {
        alert("successfully copied to clipboard");
      })
      .catch(() => {
        alert("copy to clipboard failed");
      });
}

function redirect_with_season() {
    url = gen_url();
    window.location.href = url;
}

function toggle_headroom_column() {
    const buttonChecked = document.querySelector('#headroom').checked;
    var nationaltime = "{{nationaltime}}";
    var step = (nationaltime.length > 0) ? 2 : 1;
    if (buttonChecked) {
        document.querySelectorAll('#swimmers tr').forEach((row, i) => {
            const cols = row.children.length;
            for (let j = cols - step ; j > 1; j-=step) {
                const span = document.createElement("span");
                if ( i == 0) {
                    span.innerHTML = "Δ";
                    // span.innerHTML = "🔺";
                }
                else {
                    span.innerHTML = headroom(row.children[1].innerHTML.trim(), row.children[j].innerHTML.trim());
                }
                const cell = document.createElement(i ? "td" : "th")
                cell.appendChild(span)
                cell.style.textAlign="center";
                cell.classList.add("time-delta")
                row.insertBefore(cell, row.children[j+1]);
            }
        });
    } else {
        document.querySelectorAll('#swimmers tr').forEach((row, i) => {
            const cols = row.children.length;
            for (let j = cols - 1 ; j >= 0; j--) {
                if (row.children[j].classList.contains("time-delta")) {
                    row.removeChild(row.children[j])
                }
            }
        });
    }
}

function toggle_season() {
    // Filter rows by season.
    var season = document.getElementById("season").value;
    if (season == "scy") {
        season = "Y";
    } else if (season == "lcm") {
        season = "M";
    } else if (season == "both") {
        season = "";
    }
    var re = new RegExp("^[0-9]+\\s" + season + ".*");
    document.querySelectorAll('#swimmers tr').forEach((row, i) => {
        if (!re.test(row.children[0].innerHTML.trim()) && i > 0) {
            // Check if event name matches regex excluding header row.
            for (let j = 0 ; j < row.children.length; j++) {
                row.children[j].style.display = "none";
            }
        } else {
            for (let j = 0 ; j < row.children.length; j++) {
                row.children[j].style.display = "";
            }
        }
    });
}

function toSeconds(timestr) {
    seconds = 0;
    tokens = timestr.split('.');
    if (tokens.length == 2) {
        seconds += parseFloat(tokens[1]) / 100;
    }
    parts = tokens[0].split(':')
    if (parts.length == 2) {
        seconds += parseInt(parts[0]) * 60 + parseInt(parts[1])
    } else {
        seconds += parseInt(parts[0])
    }
    return seconds;
}

function toTimeStr(seconds) {
    minutes = 0;
    while (seconds >=60) {
        seconds -= 60;
        minutes ++;
    }
    timestr = "";
    if (minutes > 0) {
        timestr += minutes + ":";
    }
    if (Math.floor(seconds) >= 10) {
        timestr += Math.floor(seconds);
    } else {
        timestr += "0" + Math.floor(seconds);
    }
    seconds_part = Math.round(seconds * 100 % 100);
    // console.log("minutes="+minutes)
    // console.log("seconds="+seconds)
    // console.log("seconds_part="+seconds_part)
    timestr += "." + (seconds_part >= 10 ? seconds_part : "0" + seconds_part);
    return timestr;
}

function headroom(timestr1, timestr2){
    if (timestr1 == "" || timestr2 == "") return "";
    sec1 = toSeconds(timestr1);
    sec2 = toSeconds(timestr2);
    if (sec2 < sec1) {
        return "-"+toTimeStr(sec1-sec2);
    } else {
        return "+"+toTimeStr(sec2-sec1);
    }
}

$(function () {$('[data-toggle="tooltip"]').tooltip()})

$(document).ready(function () {
    $('#swimmers thead tr').each(function() {
        $(this).find("th").each(function(cellIndex) {
            var text = $(this).text().trim();
            if (text.includes("FEMALE")) {
                if (text.startsWith("JO") || text.startsWith("FW")) {
                    $(this).css({"background-color":"#c40e0eee"});
                } else {
                    $(this).css({"background-color":"#d60e0ecc"});
                }
                
            } else if (text.includes("MALE")) {
                if (text.startsWith("JO") || text.startsWith("FW")) {
                    $(this).css({"background-color":"#0608b3e2"});
                } else {
                    $(this).css({"background-color":"#0808b3b6"});
                }
                
            }
        });
    });

    var season = {{season | tojson | safe}};
    if (season != "lcm" && season != "scy") {
        const d = new Date();
        let month = d.getMonth();
        // LCM season is from May to September
        if (month >= 4 && month <=8) {
            season = "lcm";
        } else {
            season = "scy";
        }
    }
    document.getElementById("season").value = season;
    toggle_season();
})
</script>

</body>
</html>