<!DOCTYPE html>
<html>
<head>
<title>One Swimmer vs All Time Standards</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='table.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<h3 align="center" id="banner">One Swimmer vs All Time Standards</h3>

<div class="container">
<br/>
<form id="select_form" action="/card" method="post">
<br/>
<a href="/search" id="tosearch" class="btn btn-primary btn-lg">To Search</a> &nbsp;&nbsp;
<a href="/swim" id="toswim" class="btn btn-secondary btn-lg">To Single Swimmer View</a> &nbsp;&nbsp;
<a href="/compare" id="tocompare" class="btn btn-success btn-lg">To Multiple Swimmers View</a> &nbsp;&nbsp;

<br/><br/>
<!-- <select name="swimmer_id" id="swimmer_id" class="selectpicker" data-width="auto" data-live-search="true">
    <option disabled selected value> -- select a swimmer -- </option>
    {% for swimmer in predefined_swimmers: %}
    <option value="{{swimmer}}">{{swimmer}}</option>
    {% endfor %}
</select> -->
<label>Pick or Enter one swimmer id &nbsp;&nbsp; <input id="swimmer_id_input" list="swimmer_id" name="swimmer_id"/></label> 
<datalist id="swimmer_id">
    <option disabled selected value> -- select a swimmer -- </option>
    {% for swimmer in predefined_swimmers: %}
    <option value="{{swimmer}}">{{swimmer}}</option>
    {% endfor %}
</datalist>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;swimmer id is <i>FirstName</i>-<i>LastName</i>[-<i>SerialNumber</i>]<br>
&nbsp;&nbsp;&nbsp;&nbsp;which can be found from <a href="https://swimstandards.com">swimstandards.com</a>
<br/><br/>
<!--
{{ form.nationaltime.label }}
<br/><br/>
{{ form.nationaltime(size=6) }}
<br/><br/>
<br><br>
--!>
<input type="submit" name="Go" class="btn btn-info" value="Go" onclick="run()"/>
<br/>
<!-- <img src="{{ url_for('static',filename='loading_icon.gif') }}" id="loading" style="display: none;"> -->
</form>
</div>

<script>
function run() {
    $('#loading').show();
}
$(document).ready(function () {
    $("#nationaltime").css("font-family", "monospace");
    $("#swimmer_id_input").focus();
});
</script>
</html>