<html>
<head>
<title>Swimmer and Time Standards ScoreCard</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='table.css') }}">
</head>

<table border="1" id="customers">
  <thead>
      <tr>
          <th></th>
          {% for i in range(colnames | length): %}
          <th>
            {% if i == 0 %}
                {{ colnames[i] }}
            {% else %}
            <a href="https://swimstandards.com/swimmer/{{colnames[i]}}">
                {{ colnames[i] }}
            </a>
            {% endif %}
          </th>
          {% endfor %}
      </tr>
  </thead>
  <tbody>
      {% for i in range(records | length): %}
      <tr>
          <td> {{ rownames[i] }} </td>
          {% for j in range(colnames | length): %}
            {% if j == 0 %}
                <td class="standards"> {{ records[i][colnames[j]] }}  </td>
            {% elif j > 0 and records[i][colnames[j]] 
                and ( (records[i][colnames[j]] | length) < (records[i][colnames[0]] | length) or records[i][colnames[j]] < records[i][colnames[0]]) %}
                <td class="qualified"> {{ records[i][colnames[j]] }} </td>
            {% else %}   
                <td> {{ records[i][colnames[j]] }}  </td>
            {% endif %}            
          {% endfor %}
      </tr>
      {% endfor %}
  </tbody>
</table>
</html>